<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Unlock" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Unlock" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Unlock" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Open+Sans+Condensed:300|Unlock" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">

    <title>Baked</title>
    <link rel="shortcut icon" type="image/png" href="cupcake.png" />
<!--     <link rel="shortcut icon" type="image/png" href="http://www.example.com/favicon.png" /> -->
   

    <nav class="navcolor" class="navbar navbar-dark bg-dark"  style="background-color: blanchedalmond">
  <!-- Navbar content -->
  <a class="navbar-brand" href="index.erb">
    <img src="https://image.flaticon.com/icons/svg/1302/1302342.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Baked By Students
  </a>
      <li class="nav-item active">
        <a class="nav-link" href="index.erb">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="muffin.erb">Muffins
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="cake.erb">Cakes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="cupcake.erb">Cookies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="contact.erb">Contact Us</a>
      </li>

    </nav>
  </head>
  <body> <center> <br><br><br><br>
    <h1>Follow Us</h1> </center>


<center> <ul> <img id="icon"src="https://image.flaticon.com/icons/svg/9/9148.svg"> 
<img id="icon"src="https://image.flaticon.com/icons/svg/1/1394.svg">
<img id="icon"src="https://image.flaticon.com/icons/svg/33/33702.svg">
  <h2 style="font-size:44px"> Address: <br> 255 Washington,  Hoboken, New Jersey <br>
Phone: <br> 555-201-2728</h2> </center>


<footer>
<center> ©2018 Baked By Students Inc. All Rights Reserved.  </center>
     </footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>
